[{:itonami.blueprint/social-impact [:lab-automation :quality-assurance :analytical-chemistry], :itonami.blueprint/domain :lab/analytical-chemistry, :itonami.blueprint/required-technologies [:robotics :identity :forms :dmn :bpmn :audit-ledger], :itonami.blueprint/isco-08 "3111", :itonami.blueprint/name "Lab Support: Chemical & Physical Science Technicians", :itonami.blueprint/governor :chemistry-governor, :itonami.blueprint/robotics true, :db/id -1, :itonami.blueprint/status :public-oss, :itonami.blueprint/id "cloud-itonami-isco-3111", :itonami.blueprint/license "AGPL-3.0-or-later", :itonami.blueprint/maturity :implemented}]
